navbar {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns:  auto auto;
    padding: 10px;
    
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 25px;
    text-align: left;
  }


  /*past*/

  #clock {
      background-color: rgb(121, 168, 184);
  }

  /*future*/
  
  #clock {
      background-color: rgb(179, 81, 81);
  }


/*current*/
  #clock   {
      background-color: rgb(112, 172, 112);
      color: white;
      font-weight: bolder;
  }
